@import "/docs.css";

.avator {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 4rem;
  height: 4rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}
