.grid {
  background: var(--light-gray);
  border-radius: 0.2rem;
  padding: 1rem;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-2 > div {
  background-color: #444;
  color: #fff;
  padding: 1em;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-2 > div {
  background-color: #444;
  color: #fff;
  padding: 1em;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-3 > div {
  background-color: #444;
  color: #fff;
  padding: 1em;
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-3 > div {
  background-color: #444;
  color: #fff;
  padding: 1em;
}
