<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <body>
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>
        <button class="toggler-new">
          <i class="material-icons">MENU</i>
        </button>
      </div>
      <ul class="social-links">
        <li class="list-style-none">
          <a href=""><i class="fa fa-twitter fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href=""><i class="fa fa-github fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
        </li>
      </ul>
    </nav>

    <main class="main-page">
      <section class="component-page">
        <h1 class="component-title">BUTTONS</h1>

        <!----------PRIMARY BUTTON------>
        <section class="item-card">
          <h3>PRIMARY</h3>
          <ul class="items">
            <li class="item">
              <button class="btn btn-sm btn-primary">SMALL</button>
            </li>
            <li class="item">
              <button class="btn btn-danger">DANGER</button>
            </li>
            <li class="item">
              <button class="btn btn-large btn-secondary">LARGE</button>
            </li>
            <li class="item">
              <button class="btn btn-success">SUCCESS</button>
            </li>
          </ul>

          <script type="text/plain" class="line-numbers language-markup">
            <button class="btn btn-sm btn-primary">SMALL</button>
            <button class="btn btn-danger">DANGER</button>
            <button class="btn btn-large btn-secondary">LARGE</button>
            <button class="btn btn-success">SUCCESS</button>
          </script>
        </section>

        <!--------OUTLINE BUTTON--------->
        <section class="item-card">
          <h3>OUTLINE</h3>
          <ul class="items">
            <li class="item">
              <button class="btn primary-outline">PRIMARY</button>
            </li>
            <li class="item">
              <button class="btn danger-outline">DANGER</button>
            </li>
            <li class="item">
              <button class="btn secondary-outline">LARGE</button>
            </li>
            <li class="item">
              <button class="btn success-outline">SUCCESS</button>
            </li>
          </ul>
          <script type="text/plain" class="line-numbers language-markup">
            <button class="btn primary-outline">PRIMARY</button>
            <button class="btn danger-outline">DANGER</button>
            <button class="btn secondary-outline">LARGE</button>
            <button class="btn success-outline">SUCCESS</button>
          </script>
        </section>

        <!----------ICON BUTTON --------->
        <section class="item-card">
          <h3>ICON</h3>
          <ul class="items">
            <li class="item">
              <button class="btn-icon shopcart">
                <i class="fa fa-cart-arrow-down fa-2x"></i>
              </button>
            </li>

            <li class="item">
              <button class="btn-icon share">
                <i class="fa fa-share fa-2x"></i>
              </button>
            </li>

            <li class="item">
              <button class="btn-icon heart">
                <i class="fa fa-heart fa-2x"></i>
              </button>
            </li>

            <li class="item">
              <button class="primary-outline">
                <i class="fa fa-home"> HOME</i>
              </button>
            </li>
          </ul>

          <script type="text/plain" class="line-numbers language-markup">
            <button class="btn-icon shopcart">
                <i class="fa fa-cart-arrow-down fa-2x"></i>
            </button>

            <button class="btn-icon share">
                <i class="fa fa-share fa-2x"></i>
            </button>

            <button class="btn-icon heart">
                <i class="fa fa-heart fa-2x"></i>
            </button>

            <button class="primary-outline">
                <i class="fa fa-home"> HOME</i>
            </button>
          </script>
        </section>

        <!----------FLOAT BUTTON--------->
        <section class="item-card">
          <h3>FLOAT</h3>
          <ul>
            <li>
              <a href="#" class="float-icon float">
                <i class="fa fa-arrow-up my-float"></i>
              </a>
            </li>
          </ul>
          <script type="text/plain" class="line-numbers language-markup">
            <a href="#" class="float-icon float">
              <i class="fa fa-arrow-up my-float"></i>
            </a>
          </script>
        </section>

        <!-----------LINK BUTTON-------->
        <section class="item-card">
          <h3>LINK</h3>
          <ul class="items">
            <li class="item">
              <a href="#"
                ><button class="btn btn-primary btn-link">SUBMIT</button></a
              >
            </li>
            <li class="item">
              <a href="#"
                ><button class="btn btn-success fa fa-heart btn-link">
                  SIGNUP
                </button></a
              >
            </li>
          </ul>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <a href="#">
                  <button class="btn btn-primary btn-link">SUBMIT</button>
              </a>

              <a href="#">
                  <button class="btn btn-success fa fa-heart btn-link"> SIGNUP</button>
              </a>
            </script>
          </section>
        </section>
      </section>

      <section>
        <header>
          <button class="toggler">
            <i class="material-icons">MENU</i>
          </button>
        </header>
        <aside class="component-list">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="#" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Input/input.html" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item"
            >TEXT</a
          >
          <a href="../List/list.html" class="component-list-item">LIST</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
        </aside>
      </section>
    </main>
    <script src="/prism.js"></script>
  </body>
</html>
