<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
    <script src="../../index.js" defer></script>
  </head>
  <body id="style-8">
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>

      </div>
      <ul class="social-links">
        <li class="list-style-none">
          <a href="https://twitter.com/anjali1102"><i class="fa fa-twitter fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href="https://github.com/anjali1102"><i class="fa fa-github fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href="https://www.linkedin.com/in/anjali1102"><i class="fa fa-linkedin fa-2x"></i></a>
        </li>
      </ul>
    </nav>

    <main class="main-page">
      <section class="component-page">
        <h1 class="component-title">Toast</h1>
        <button class="btn btn-primary toast-btn">Success</button>
        <div class="toasts"></div>
          <!---------embedded code--------->
          <div class="code_container">
            <section class="embed">
              <script type="text/plain" class="line-numbers language-markup">
                <button class="btn btn-primary toast-btn">Success</button>
                <div class="toasts"></div>
              </script>
            </section>
          </div>
        </section>
      </div>

      <section>
      </section>
      
      <div class="sidebar-container">
        <aside class="component-list" id="style-8">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Input/input.html" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item">TEXT</a>
          <a href="../List/list.html" class="component-list-item">LIST</a>
          <a href="../Rating/rating.html" class="component-list-item">RATING</a>
          <a href="#" class="component-list-item">TOAST</a>
          <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
          <a href="../Slider/slider.html" class="component-list-item">SLIDER</a>
          <a href="../Grid/grid.html" class="component-list-item">GRID</a>
        </aside>
    </div>
    </main>
    <script src="/prism.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
