<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <body>
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>
        <button class="toggler-new">
          <i class="fa fa-bars">MENU</i>
        </button>
      </div>
      <ul class="social-links">
        <li class="list-style-none">
          <a href="https://twitter.com/anjalii1102"
            ><i class="fa fa-twitter fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://github.com/anjali1102/"
            ><i class="fa fa-github fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://www.linkedin.com/in/anjali1102/"
            ><i class="fa fa-linkedin fa-2x"></i
          ></a>
        </li>
      </ul>
    </nav>

    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">List</h1>
        <p>
          The modal component provides a solid foundation for creating dialogs,
          popovers, lightboxes, or whatever else.
        </p>
        <!------- Simple List -------->
        <section class="item-card">
          <h2>Simple List</h2>
          <ul class="list list-spaced">
            <li class="list-spaced-item">Gryffindor</li>
            <li class="list-spaced-item">Slytherin</li>
            <li class="list-spaced-item">Hufflepuff</li>
            <li class="list-spaced-item">Ravenclaw</li>
          </ul>
        </section>
        <section class="embed">
          <script type="text/plain" class="line-numbers language-markup">
            <ul class="list list-spaced">
              <li class="list-spaced-item">Gryffindor</li>
              <li class="list-spaced-item">Slytherin</li>
              <li class="list-spaced-item">Hufflepuff</li>
              <li class="list-spaced-item">Ravenclaw</li>
            </ul>
          </script>
        </section>

        <!-------- Stacked List -------->
        <section class="item-card">
          <h2>Stacked List</h2>
          <ul class="list list-notify">
            <li class="list-notify-item">
              Lorem ipsum dolor sit amet consectetur
            </li>
            <li class="list-notify-item">
              Lorem ipsum dolor sit amet consectetur
            </li>
            <li class="list-notify-item">
              Lorem ipsum dolor sit amet consectetur
            </li>
            <li class="list-notify-item">
              Lorem ipsum dolor sit amet, consectetur
            </li>
          </ul>
        </section>
        <section class="embed">
          <script type="text/plain" class="line-numbers language-markup">
            <ul class="list list-notify">
              <li class="list-notify-item">
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li class="list-notify-item">
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li class="list-notify-item">
                Lorem ipsum dolor sit amet consectetur
              </li>
              <li class="list-notify-item">
                Lorem ipsum dolor sit amet, consectetur
              </li>
            </ul>
          </script>
        </section>
      </div>
      <section>
        <aside class="component-list">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Input/input.html" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item"
            >TEXT</a
          >
          <a href="#" class="component-list-item">LIST</a>
          <a href="../Rating/rating.html" class="component-list-item">RATING</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
          <a href="../Slider/slider.html" class="component-list-item">SLIDER</a>
          <a href="../Grid/grid.html" class="component-list-item">GRID</a>
          <a href="../Navigation/navigation.html" class="component-list-item">NAVIGATION</a>
        </aside>
      </section>
    </main>
    <script src="/index.js" defer></script>
    <script src="/prism.js"></script>
  </body>
</html>
