<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <body>
    <nav class="navbar fixed">
      <a href="/index.html" class="navbar-logo">RAPID UI</a>
      <header>
        <button class="toggler">
          <i class="material-icons">MENU</i>
        </button>
      </header>
    </nav>

    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">Rating</h1>
        <p>
          Rating component is used to give star rating for a product / order.
        </p>

        <section class="item-card">
          <div class="items">
            <div class="stars">
              <input class="star star-5" id="star-5" type="radio" name="star" />
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4" id="star-4" type="radio" name="star" />
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3" id="star-3" type="radio" name="star" />
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2" id="star-2" type="radio" name="star" />
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1" id="star-1" type="radio" name="star" />
              <label class="star star-1" for="star-1"></label>
            </div>
          </div>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="stars">
                <input class="star star-5" id="star-5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>
              </div>
            </script>
          </section>
        </section>
      </div>

      <section>
        <aside class="component-list">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="#" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item"
            >TEXT</a
          >
          <a href="../List/list.html" class="component-list-item">LIST</a>
          <a href="../Rating/rating.html" class="component-list-item">RATING</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
          <a href="../Slider/slider.html" class="component-list-item">SLIDER</a>
          <a href="../Grid/grid.html" class="component-list-item">GRID</a>
        </aside>
      </section>
    </main>
    <script src="/index.js" defer></script>
    <script src="/prism.js"></script>
  </body>
</html>
