@import "/docs.css";

div.stars {
  width: 270px;
  display: inline-block;
}
input.star {
  display: none;
}
label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}
input.star:checked ~ label.star:before {
  content: "\f005";
  color: var(--dankYellow);
  transition: all 0.25s;
}
input.star-5:checked ~ label.star:before {
  color: var(--bright-yellow);
  text-shadow: 0 0 20px var(--hover-gray);
}
label.star:hover {
  transform: rotate(5deg) scale(1.3);
}
label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}
