<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <body id="style-8">
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>
      </div>

      <!-- Navbar on Hamburger -->
      <div class="hamburgerNav">
        <div class="hamContainer navContainer">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <div class="menu-items">
            <li><a href="#">ALERT</a></li>
            <li><a href="../button/button.html">BUTTON</a></li>
            <li><a href="../Avator/avator.html">AVATOR</a></li>
            <li><a href="../Badge/badge.html">BADGE</a></li>
            <li><a href="../Card/card.html">CARD</a></li>
            <li><a href="../Image/image.html">IMAGE</a></li>
            <li><a href="../Input/input.html">INPUT</a></li>
            <li><a href="../Text-Utilities/text.html">TEXT</a></li>
            <li><a href="../List/list.html">LIST</a></li>
            <li><a href="../Rating/rating.html">RATING</a></li>
            <li><a href="../Toast/toast.html">TOAST</a></li>
            <li><a href="../Modal/modal.html">MODAL</a></li>
            <li><a href="../Slider/slider.html">SLIDER</a></li>
            <li><a href="../Grid/grid.html">GRID</a></li>
          </div>
        </div>
      </div>

      <ul class="social-links">
        <li class="list-style-none">
          <a href="https://twitter.com/anjalii1102"
            ><i class="fa fa-twitter fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://github.com/anjali1102/"
            ><i class="fa fa-github fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://www.linkedin.com/in/anjali1102/"
            ><i class="fa fa-linkedin fa-2x"></i
          ></a>
        </li>
      </ul>
    </nav>
    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">Rating</h1>
        <p>
          Rating component is used to give star rating for a product / order.
        </p>

        <section class="item-card">
          <div class="items">
            <div class="stars">
              <input class="star star-5" id="star-5" type="radio" name="star" />
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4" id="star-4" type="radio" name="star" />
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3" id="star-3" type="radio" name="star" />
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2" id="star-2" type="radio" name="star" />
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1" id="star-1" type="radio" name="star" />
              <label class="star star-1" for="star-1"></label>
            </div>
          </div>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="stars">
                <input class="star star-5" id="star-5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>
              </div>
            </script>
          </section>
        </section>
      </div>

      <section>
        <div class="sidebar-container">
          <aside class="component-list" id="style-8">
            <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
            <a href="../button/button.html" class="component-list-item"
              >BUTTON</a
            >
            <a href="../Avator/avator.html" class="component-list-item"
              >AVATOR</a
            >
            <a href="../Rating/rating.html" class="component-list-item"
              >BADGE</a
            >
            <a href="../Card/card.html" class="component-list-item">CARD</a>
            <a href="../Image/image.html" class="component-list-item">IMAGE</a>
            <a href="../Input/input.html" class="component-list-item">INPUT</a>
            <a href="../Text-Utilities/text.html" class="component-list-item"
              >TEXT</a
            >
            <a href="../List/list.html" class="component-list-item">LIST</a>
            <a href="#" class="component-list-item">RATING</a>
            <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
            <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
            <a href="../Slider/slider.html" class="component-list-item"
              >SLIDER</a
            >
            <a href="../Grid/grid.html" class="component-list-item">GRID</a>
          </aside>
        </div>
      </section>
    </main>
    <script src="/index.js" defer></script>
    <script src="/prism.js"></script>
  </body>
</html>
