@import "/docs.css";

.badge-btn,
.badge-avator {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border: none;
  position: relative;
  right: 28px;
  border-radius: 50%;
  padding: 0.5em 0.5em;
}

.count-notify {
  position: relative;
  top: -20px;
  right: 15px;
  border-radius: 50%;
  background-color: var(--secondary);
  padding: 0.3em 0.5em;
}

.status-online {
  background-color: var(--green);
  border: 1px solid gray;
}

.status-away {
  background-color: var(--paleYellow);
  border: 1px solid gray;
}

.status-offline {
  background-color: var(--dark-highlight);
  border: 1px solid gray;
}
