<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css">
  </head>
  <body>
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>
        <button class="toggler-new">
          <i class="material-icons">MENU</i>
        </button>
      </div>
      <ul class="social-links">
        <li class="list-style-none">
          <a href=""><i class="fa fa-twitter fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href=""><i class="fa fa-github fa-2x"></i></a>
        </li>
        <li class="list-style-none">
          <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
        </li>
      </ul>
    </nav>

    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">BADGES</h1>
        <section class="item-card">
          <p>Badge generates a small badge to the top-right of its child(ren).</p>
          <ul class="items">
            <li class="item">
              <button class="badge-btn">
                <i class="fa fa-home fa-2x"></i>
                <span class="count-notify">11</span>
              </button>
            </li>
            <li class="item">
              <button class="badge-btn">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <span class="count-notify">2</span>
              </button>
            </li>
            <li class="item">
              <button class="badge-btn">
                <i class="fa fa-bell fa-2x"></i>
                <span class="count-notify">1</span>
              </button>
            </li>
          </ul>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <button class="badge-btn">
                <i class="fa fa-home fa-2x"></i>
                <span class="count-notify">11</span>
              </button>
                
              <button class="badge-btn">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <span class="count-notify">2</span>
              </button>
                    
              <button class="badge-btn">
                <i class="fa fa-bell fa-2x"></i>
                <span class="count-notify">1</span>
              </button>
            </script>
          </section>
        </section>

        <section class="item-card">
          <ul class="items">
            <li class="item">
              <img src="/assests/avator1.jpg" class="avator avator sm" alt="badge1">
              <span class="badge-avator status-online"></span>
            </li>
            <li class="item">
              <img src="/assests/avator2.jpg" class="avator avator mid" alt="badge2">
              <span class="badge-avator status-away"></span>
            </li>
            <li class="item">
              <img src="/assests/avator3.jpg" class="avator avator lg" alt="badge3">
              <span class="badge-avator status-offline"></span>
            </li>
          </ul>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <img src=" " class="avator avator sm" alt=" ">
              <span class="badge-avator status-online"></span>
                  
              <img src=" " class="avator avator mid" alt=" ">
              <span class="badge-avator status-away"></span>
                 
              <img src=" " class="avator avator lg" alt=" ">
              <span class="badge-avator status-offline"></span>
            </script>
          </section>
      </div>
      <section>
        <aside class="component-list">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="#" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Input/input.html" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item">TEXT</a>
          <a href="../List/list.html" class="component-list-item">LIST</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="../Modal/modal.html" class="component-list-item">MODAL</a>
          <a href="../Slider/slider.html" class="component-list-item">SLIDER</a>
        </aside>
      </section>
    </main>
    <script src="/prism.js"></script>
  </body>
</html>