<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
  </head>
  <body>
    <nav class="navbar fixed">
      <div class="logo-small-screen">
        <a href="/index.html">
          <img
            src="../../assests/Rapid ui.png"
            alt="logo"
            class="navbar-logo"
          />
        </a>
        <button class="toggler-new">
          <i class="fa fa-bars">MENU</i>
        </button>
      </div>
      <ul class="social-links">
        <li class="list-style-none">
          <a href="https://twitter.com/anjalii1102"
            ><i class="fa fa-twitter fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://github.com/anjali1102/"
            ><i class="fa fa-github fa-2x"></i
          ></a>
        </li>
        <li class="list-style-none">
          <a href="https://www.linkedin.com/in/anjali1102/"
            ><i class="fa fa-linkedin fa-2x"></i
          ></a>
        </li>
      </ul>
    </nav>

    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">Modal</h1>
        <p>
          A modal is a popup window that is displayed on top of the current
          page.
        </p>

        <section class="item-card">
          <div class="items">
            <div class="modal">
              <div class="head-modal">
                <header class="title-modal">
                  Do you want to delete this item ?
                </header>
                <button class="close">X</button>
              </div>
              <div class="body-modal">
                <p>Write here something</p>
              </div>
              <div class="footer-modal">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
          <section class="embed">
            <script type="text/plain" class="line-numbers language-markup">
              <div class="modal">
                <div class="head-modal">
                  <header class="title-modal">
                    Do you want to delete this item ?
                  </header>
                  <button class="close">X</button>
                </div>
                <div class="body-modal">
                  <p>Write here something</p>
                </div>
                <div class="footer-modal">
                  <button class="btn btn-primary">Cancel</button>
                  <button class="btn btn-danger">Delete</button>
                </div>
              </div>
            </script>
          </section>
        </section>
      </div>

      <section>
        <aside class="component-list">
          <a href="../Alert/alert.html" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Image/image.html" class="component-list-item">INPUT</a>
          <a href="../Text-Utilities/text.html" class="component-list-item"
            >TEXT</a
          >
          <a href="../List/list.html" class="component-list-item">LIST</a>
          <a href="../Rating/rating.html" class="component-list-item">RATING</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="#" class="component-list-item">MODAL</a>
          <a href="../Slider/slider.html" class="component-list-item">SLIDER</a>
          <a href="../Grid/grid.html" class="component-list-item">GRID</a>
        </aside>
      </section>
    </main>
    <script src="/index.js" defer></script>
    <script src="/prism.js"></script>
  </body>
</html>
