@import "/docs.css";

.alert {
  border-radius: 7px;
  margin: 1rem;
}

.text-error {
  padding: 1rem;
  background-color: var(--lightRed);
  margin-bottom: 1rem;
}

.text-success {
  padding: 1rem;
  background-color: var(--lightGreen);
  margin-bottom: 1rem;
}

.al-error {
  padding: 1rem;
  background-color: var(--red);
  margin-bottom: 1rem;
}

.closebtn__error {
  margin-left: 1rem;
  font-weight: 900;
  float: right;
  font-size: 2rem;
  line-height: 1.5rem;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.closebtn__error:hover {
  color: var(--black);
}

.al-success {
  padding: 1rem;
  background-color: var(--green);
  margin-bottom: 1rem;
}

.closebtn__success {
  margin-left: 1rem;
  font-weight: 900;
  float: right;
  font-size: 2rem;
  line-height: 1.5rem;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.closebtn__success:hover {
  color: var(--black);
}

.al-icon-info {
  padding: 1rem;
  background-color: var(--blue);
  margin-bottom: 1rem;
}

.al-icon-warning {
  padding: 1rem;
  background-color: var(--dankYellow);
  margin-bottom: 1rem;
}
.alert__text {
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

.alert-ico-yellow {
  color: var(--black);
}

.alert-ico-red {
  color: var(--red);
}


