<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/docs.css" />
    <link rel="stylesheet" href="/prism.css" />
    <title>Alert</title>
  </head>
  <body>
    <nav class="navbar fixed">
      <a href="/index.html" class="navbar-logo">RAPID UI</a>
      <header>
        <button class="toggler">
          <i class="material-icons">MENU</i>
        </button>
      </header>
    </nav>

    <main class="main-page">
      <div class="component-page">
        <h1 class="component-title">Alerts</h1>
        <section class="item-card">
          <h3>ERROR ALERT</h3>
          <div class="alert text-error">
            <span class="alert__text">Error Text</span>
          </div>
        </section>

        <section class="item-card">
          <h3>SUCCESS ALERT</h3>
          <div class="alert text-success">
            <span class="alert__text">Success Text</span>
          </div>
        </section>

        <section class="item-card">
          <h3>ERROR ALERT</h3>
          <div class="alert txt-closebtn al-error">
            <span class="alert__text">Error Text</span>
            <span class="closebtn__error">&times;</span>
          </div>
        </section>

        <section class="item-card">
          <h3>SUCCESS ALERT</h3>
          <div class="alert txt-closebtn al-success">
            <span class="alert__text">Success Text</span>
            <span class="closebtn__success">&times;</span>
          </div>
        </section>

        <section class="item-card">
          <h3>INFO ALERT</h3>
          <div class="alert icon-sm al-icon-info">
            <i class="fa fa-exclamation-circle fa-2x alert-ico-yellow"></i>
            <span class="alert__text">Information Text</span>
          </div>
        </section>

        <section class="item-card">
          <h3>WARN ALERT</h3>
          <div class="alert icon-sm al-icon-warning">
            <i class="fa fa-exclamation-triangle fa-2x alert-ico-red"></i>
            <span class="alert__text">Warning Text</span>
          </div>
        </section>

        <!---embedded output-->
        <section class="embed">
          <script type="text/plain" class="line-numbers language-markup">
            <!--Alerts Component : RapidUI Component Library -->
            <!--author: anjali1102-->

            <div class="alert text-error">
              <span class="alerttext">Error Text</span>
            </div>

            <div class="alert text-success">
              <span class="alerttext">Success Text</span>
            </div>

            <div class="alert txt-closebtn al-error">
              <span class="alerttext">Error Text</span>
              <span class="closebtnerror">&times;</span>
            </div>

            <div class="alert txt-closebtn al-success">
              <span class="alerttext">Success Text</span>
              <span class="closebtnsuccess">&times;</span>
            </div>

            <div class="alert icon-sm al-icon-info">
              <i class="fa fa-exclamation-circle fa-2x alert-ico-yellow"></i>
              <span class="alerttext">Information Text</span>
            </div>

            <div class="alert icon-sm al-icon-warning">
              <i class="fa fa-exclamation-triangle fa-2x alert-ico-red"></i>
              <span class="alerttext">Warning Text</span>
            </div>
          </script>
        </section>
      </div>
      <section>
        <aside class="component-list">
          <a href="#" class="component-list-item">ALERT</a>
          <a href="../button/button.html" class="component-list-item">BUTTON</a>
          <a href="../Avator/avator.html" class="component-list-item">AVATOR</a>
          <a href="../Badge/badge.html" class="component-list-item">BADGE</a>
          <a href="../Card/card.html" class="component-list-item">CARD</a>
          <a href="../Image/image.html" class="component-list-item">IMAGE</a>
          <a href="../Input/input.html" class="component-list-item">INPUT</a>
          <a href="../Toast/toast.html" class="component-list-item">TOAST</a>
          <a href="" class="component-list-item"></a>
          <a href="" class="component-list-item"></a>
          <a href="" class="component-list-item"></a>
        </aside>
      </section>
    </main>
    <script src="/index.js" defer></script>
    <script src="/prism.js"></script>
  </body>
</html>
